.post-card {
  padding: 12px 0;
  border-bottom: 1px solid #eee;
  background: @global-color-hover;

  .post-card-title {
    display: inline;
    margin: 0 10px 0 0;
    font-size: 21px;
    font-weight: 500;
    line-height: 1.2;

    & > a {
      color: #555;

      &:hover {
        color: @global-bg-color;
        text-decoration: none;
      }
    }
  }

  .post-card-author {
    display: block;
    margin: 15px 0 10px 0;
    font-size: 13px;
    line-height: 24px;
    color: #999;

    & > a {
      display: inline-block;
      position: relative;
      padding-left: 30px;
      margin-right: 5px;
      color: @global-bg-color;
    }

    & > a > img {
      position: absolute;
      left: 0;
      top: 0;
    }
  }

  .post-card-excerpt {
    margin: 10px 0;
    padding: 5px 0;
    max-height: 94px;
    color: #777;
    font-size: 14px;
    line-height: 1.5;
    overflow: hidden;
    word-break: break-all;
  }

  .post-card-feed {
    margin: 10px 0 5px -5px;

    & > li {
      color: #999;
      font-size: 13px;
      line-height: 1.0;

      .glyphicon {
        top: -1px;
        vertical-align: middle;
        padding-right: 5px;

        &:hover {
          cursor: pointer;
          font-size: 18px;
        }
      }
    }
  }
}

