.vertical-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.align-center {
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.avatar-size-23 {
  width: 23px;
  height: 23px;
}

.split {
  padding: 0 3px;
}

.padding-top-10 {
  padding-top: 10px;
}

.padding-top-15 {
  padding-top: 15px;
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

// material-ui的badge style
//.badge {
//  display: flex;
//  position: absolute;
//  top: 0;
//  left: 18px;
//  padding: 0;
//  justify-content: center;
//  align-content: center;
//  align-items: center;
//}
//
//.badge-circle {
//  border-radius: 50%;
//}
//
//.badge-size-20 {
//  height: 20px;
//  width: 20px;
//}